asgiref==3.6.0
astroid==2.15.0
certifi==2022.12.7
charset-normalizer==3.1.0
dill==0.3.6
Django==3.2.18
django-tastypie==0.14.5
docopt==0.6.2
gunicorn==20.1.0
idna==3.4
isort==5.10.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
pipreqs==0.4.11
platformdirs==3.1.0
pylint==2.17.0
pylint-django==2.5.3
pylint-plugin-utils==0.7
python-dateutil==2.8.2
python-mimeparse==1.6.0
pytz==2022.7.1
requests==2.28.2
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
urllib3==1.26.14
wrapt==1.15.0
yarg==0.1.9
